stages:
  - build
  - deploy

build_dev:
  image: node:latest
  stage: build
  only:
    - develop
  environment:
    name: dev
  variables:
    APP_NAME: 'Hypha DAO'
    NETWORK_CHAIN_ID: '1eaa0824707c8c16bd25145493bf062aecddfeb56c736f6ba6397f3195f33c9f'
    DAO_CONTRACT: 'dao.hypha'
    ACCOUNT_API_URL: 'https://opqeierg9e.execute-api.us-east-1.amazonaws.com/dev'
    BLOCKCHAIN_EXPLORER: 'https://telos-test.bloks.io'
    PPP_ENV: 'test'
    SENTRY_DSN: ''
    DOCUMENTATION: 'https://notepad.diglife.coop/6w_69K_8QLSbzNaYcDWtHw?view '
  cache:
    paths:
      - node_modules/
  script:
    - yarn global add @vue/cli@latest
    - yarn install
    - mv public/chain-manifests-dev.json public/chain-manifests.json
    - mv public/app-manifest-dev.json public/app-manifest.json
    - yarn build
  artifacts:
    paths:
      - dist/
    expire_in: 1 hour

deploy_dev:
  image: python:latest
  stage: deploy
  only:
    - develop
  environment:
    name: dev
  script:
    - pip install awscli
    - aws configure set aws_access_key_id $AWS_KEY
    - aws configure set aws_secret_access_key $AWS_SECRET
    - aws s3 rm s3://dao-dev.hypha.earth
    - aws s3 sync ./dist/spa s3://dao-dev.hypha.earth
    - aws cloudfront create-invalidation --distribution-id $AWS_DIST_ID --paths "/*"

build_prod:
  image: node:latest
  stage: build
  only:
    - master
  environment:
    name: prod
  variables:
    APP_NAME: 'Hypha DAO'
    NETWORK_CHAIN_ID: '4667b205c6838ef70ff7988f6e8257e8be0e1284a2f59699054a018f743b1d11'
    DAO_CONTRACT: 'dao.hypha'
    ACCOUNT_API_URL: 'https://tb3nnn0qa9.execute-api.us-east-1.amazonaws.com/prod'
    BLOCKCHAIN_EXPLORER: 'https://telos.bloks.io'
    PPP_ENV: 'prod'
    SENTRY_DSN: 'https://6fa219bfb2ed453fb5032d6ce1b83fc9@sentry.io/1884471'
    DOCUMENTATION: 'https://notepad.diglife.coop/6w_69K_8QLSbzNaYcDWtHw?view '
  cache:
    paths:
      - node_modules/
  script:
    - yarn global add @vue/cli@latest
    - yarn install
    - mv public/chain-manifests-prod.json public/chain-manifests.json
    - mv public/app-manifest-prod.json public/app-manifest.json
    - yarn build
  artifacts:
    paths:
      - dist/
    expire_in: 1 hour

deploy_prod:
  image: python:latest
  stage: deploy
  only:
    - master
  environment:
    name: prod
  script:
    - pip install awscli
    - aws configure set aws_access_key_id $AWS_KEY
    - aws configure set aws_secret_access_key $AWS_SECRET
    - aws s3 rm s3://dao.hypha.earth
    - aws s3 sync ./dist/spa s3://dao.hypha.earth
    - aws cloudfront create-invalidation --distribution-id $AWS_DIST_ID --paths "/*"


build_dho:
  image: node:latest
  stage: build
  only:
    - master
  environment:
    name: prod
  variables:
    APP_NAME: 'Hypha DHO'
    NETWORK_CHAIN_ID: '4667b205c6838ef70ff7988f6e8257e8be0e1284a2f59699054a018f743b1d11'
    DAO_CONTRACT: 'dao.hypha'
    ACCOUNT_API_URL: 'https://tb3nnn0qa9.execute-api.us-east-1.amazonaws.com/prod'
    BLOCKCHAIN_EXPLORER: 'https://telos.bloks.io'
    PPP_ENV: 'prod'
    SENTRY_DSN: 'https://6fa219bfb2ed453fb5032d6ce1b83fc9@sentry.io/1884471'
    DOCUMENTATION: 'https://notepad.diglife.coop/6w_69K_8QLSbzNaYcDWtHw?view '
  cache:
    paths:
      - node_modules/
  script:
    - yarn global add @vue/cli@latest
    - yarn install
    - mv public/chain-manifests-dho.json public/chain-manifests.json
    - mv public/app-manifest-dho.json public/app-manifest.json
    - yarn build
  artifacts:
    paths:
      - dist/
    expire_in: 1 hour

deploy_dho:
  image: python:latest
  stage: deploy
  only:
    - master
  environment:
    name: prod
  script:
    - pip install awscli
    - aws configure set aws_access_key_id $AWS_KEY
    - aws configure set aws_secret_access_key $AWS_SECRET
    - aws s3 rm s3://dho.hypha.earth
    - aws s3 sync ./dist/spa s3://dho.hypha.earth
    - aws cloudfront create-invalidation --distribution-id $AWS_DIST_ID --paths "/*"
