{
    "semi": false,
    "singleQuote": false,
    "printWidth": 80,
    "tabWidth": 2,
    "pugPrintWidth": 80,
    "pugSingleFileComponentIndentation": true,
    "pugAttributeSeparator": "none",
    "pugSortAttributes": "asc",
    "pugWrapAttributesThreshold": 1,
    "pugClosingBracketPosition": "new-line"
  }