body
  font-family 'Source Sans Pro', sans-serif !important
  // font-family 'Barlow', sans-serif !important
  background #F6F6F6
  color #383747
@import "custom-colors.styl"
@import "corner-ribbon.styl"
@import "scrollbar.styl"
@import "headlines.styl"
@import "buttons.styl"
@import "typography.styl"
@import "typography-signup.styl"

.notif-icon
  font-size 24px !important
  padding-right 0
  margin-right 5px

.fa-life-ring
  margin-right 1px
  margin-bottom 3px
.world-bg
  position fixed
  background-size cover !important
  opacity 0.3
  height 100vh
  width 100vw
// Removes the spinner buttons on number inputs
input[type="number"]::-webkit-outer-spin-button
input[type="number"]::-webkit-inner-spin-button
  -webkit-appearance none
  margin 0

input[type="number"]
  -moz-appearance textfield

.font-size-w-desc
  font-size: 12px


.q-scrollarea__thumb
  background-color #00000033 !important
  width 8px !important

