@import "custom-colors.styl"
@import "corner-ribbon.styl"
@import "scrollbar.styl"
@import "headlines.styl"
@import "buttons.styl"
@import "typography.styl"
@import "typography-signup.styl"
@import "quasar-classes-override.styl"

body
  font-family 'Source Sans Pro', sans-serif !important
  background $internal-bg
  color $body

.notif-icon
  font-size 24px !important
  padding-right 0
  margin-right 5px

.fa-life-ring
  margin-right 1px
  margin-bottom 3px

.world-bg
  position fixed
  background-size cover !important
  opacity 0.3
  height 100vh
  width 100vw
// Removes the spinner buttons on number inputs
input[type="number"]::-webkit-outer-spin-button
input[type="number"]::-webkit-inner-spin-button
  -webkit-appearance none
  margin 0

input[type="number"]
  -moz-appearance textfield

.font-size-w-desc
  font-size: 12px

.sticky
  position: -webkit-sticky
  position: sticky
  top: 10px
.one-line
  overflow: hidden
  display: -webkit-box
  -webkit-line-clamp: 1
  -webkit-box-orient: vertical
  max-width: 250px
  height: auto

.z-10
  z-index: 10 !important

.z-20
  z-index: 20 !important

.z-30
  z-index: 30 !important

.z-40
  z-index: 40 !important

.z-50
  z-index: 40 !important


.leading-none
  line-height: 1;
.leading-tight
  line-height: 1.25;
.leading-snug
  line-height: 1.375;
.leading-normal
  line-height: 1.5;
.leading-relaxed
  line-height: 1.625;
.leading-loose
  line-height: 2;


.break-word
  word-wrap: break-word




.object-contain
  object-fit: contain !important
.object-cover
  object-fit: cover !important
.object-fill
  object-fit: fill !important
.object-none
  object-fit: none !important
.object-scale-down
  object-fit: scale-down !important