.text-assignments
  color #9c27b0 !important
.bg-assignments
  background #9c27b0 !important

.text-payouts
  color #4caf50 !important
.bg-payouts
  background #4caf50 !important

.text-roles
  color #ff9800 !important
.bg-roles
  background #ff9800 !important
