.ribbon
  position absolute
  left -5px top -5px
  z-index 1
  overflow hidden
  width 100px
  height 75px
  text-align right

  span
    font-size 10px
    font-weight bold
    text-transform uppercase
    text-align center
    line-height 20px
    transform rotate(-45deg)
    -webkit-transform rotate(-45deg)
    width 100px
    display block
    position absolute
    top 19px
    left -21px
  .creating
    background #F0C80E !important
  .editing
    background #1976D2 !important
  .suspending
    background #F44336 !important
