.text-assignment
  color #00c7dfff !important
.bg-assignment
  background #00c7dfff !important

.text-hire
  color #9ed747 !important
.bg-hire
  background #9ed747 !important

.text-hire-light
  color #9ed7475c !important
.bg-hire-light
  background #9ed7475c !important

.text-proposal
  color #f0c80eff !important
.bg-proposal
  background #f0c80eff !important

.text-proposal-light
  color #f0c80e5e !important
.bg-proposal-light
  background #f0c80e5e !important

.text-payment
  color #f974acff !important
.bg-payment
  background #f974acff !important
