.headline
  font: normal normal 900 34px/27px Lato;
  font-family: Lato
  font-weight: black
  font-size: 26px
  color: #3e3b46
  line-spacing: 40
.headline-widget
  font-family: "Lato Black", sans-serif !important
  font : normal normal 900 22px /30px Lato;
.round-circle
  background: $grey-4 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
