// Quasar Stylus Variables
// --------------------------------------------------
// These values need to be set manually in .storybook/preview.js to apply to storybook

$primary   = #242f5d
$secondary = #3f64ee
$accent    = #5bd4ca

$positive  = #19bca1
$negative  = #f94848
$info      = #16b2d3
$warning   = #ffbf40

$button-rounded-border-radius = 14px
