// SCROLLBAR
.q-scrollarea__thumb
  background-color #00000033 !important
  width 8px !important

// LINKS
a, a:hover, a:focus
  color var(--q-color-primary) !important
  text-decoration none

// NOTIFICATIONS
.q-notifications__list--top
  margin-top 10px !important
  z-index 0 !important
  margin-left 70px !important
  align-items flex-start !important

.q-notifications__list--bottom
  margin-bottom 20px !important
  z-index 0 !important
  margin-left 70px !important
  align-items flex-start !important

.q-notification
  width var(--container-width) !important
  max-width 100% !important
  padding-left 25px !important
  padding-right 25px !important
  box-shadow none !important
  height 38px !important
  border-radius 0 !important
  border-bottom-left-radius 27px !important
  border-bottom-right-radius 27px !important
.q-notification__wrapper
  width 100% !important


.q-notification__actions
  padding 0 !important

.q-notification__actions >>> i
  font-size 112px !important

.q-notification__message
  text-align center !important

// CARROUSEL
.q-carousel__control
  margin 0 0 !important
  bottom 20px !important

.q-carousel__navigation-icon
  color $internal-bg !important
  margin-left  0 !important
  margin-right  0 !important
  opacity 1 !important
  i
    font-size 10px !important


.q-carousel__navigation-icon--active
  color var(--q-color-primary) !important

// TOOGLE
.q-toggle__inner--falsy
  .q-toggle__track
    color $disabled !important
  .q-toggle__thumb
    left 13px !important

.q-toggle__inner--truthy
  .q-toggle__track

  .q-toggle__thumb
    left 31px !important

.q-toggle__track
  opacity 1 !important
  height 20px !important
  width 38px !important
  border-radius: 10px !important

.q-toggle__thumb
  color white !important
  width 18px !important
  height 18px !important
  top 14px !important

// FIELDS
.q-field--rounded .q-field__control
  border-radius $button-rounded-border-radius !important

// SELECT
.q-select.q-field--outlined
  .q-field__inner
    .bg-internal-bg
      padding-left 20px !important
    .bg-internal-bg:before
      border 0 !important

.q-select__dropdown-icon
  font-size: 16px !important
  margin-right 8px !important
  margin-top 2px !important


// TOOLTIP
.q-tooltip
  background-color var(--q-color-primary) !important
  border-radius 10px !important
  font-size 13px !important
  font-family Source Sans Pro, sans-serif !important
  padding 9px 16px !important
  max-width 250px !important

.q-date__calendar-item
  margin 6px 0px
.q-date__calendar-item--in
  color var(--q-color-primary) !important
  .q-btn
    outline-color var(--q-color-primary) !important
    outline-width 1px !important
    outline-style solid !important




