// Quasar Stylus Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   = #00a500
$secondary = #28f2fb
$accent    = #74e65d

$positive  = #00a500
$negative  = #C10015
$info      = #00494f
$warning   = #F2C037
