// Quasar Stylus Variables
// --------------------------------------------------
// These values need to be set manually in .storybook/preview.js to apply to storybook

$primary   = #242f5d
$secondary = #3f64ee
$accent    = #5bd4ca

$positive  = #16B59B
$negative  = #EF3F69
$info      = #16b2d3
$warning   = #ffbf40

$grey-4 = #f1f1f3
$grey-6 = #84878E

$button-rounded-border-radius = 14px
