.h-h1-signup{
  font-family: Lato, sans-serif !important
  font-size: 44px
  line-height:52px
  color: #3E3B46
  margin-bottom: 40px
}
.h-h1-signup .text-bold{
  font-weight: 900
}
.h-h2-signup{
  font-weight: 900
  line-height: 30px
  font-size: 22px
  color: #3E3B46
  margin-bottom: 20px
  }
.h-b1-signup{
  font-family: Source Sans Pro, sans-serif !important
  font-size: 15px !important
  line-height:29px
}
.h-b2-signup{
  font-family: Lato, sans-serif !important
  font-size: 15px !important
  line-height:29px
}
.p-onboarding {
  display: inline
  font-family: Lato, sans-serif !important
  font-size: 14px
  line-height:28px
  color: #84878E
}
.onboarding-invite-link {
  display: block
  font-size: 11px
  line-height: 28px
  text-decoration: underline
}
.bold {
  color: #3E3B46
  font-weight: 600
}
.signup-mobile-app-preview {
  display: flex;
  justify-content: center;
  padding-right: 30px;
  align-items: center;
}
.upload-pic{
  font-family: Lato, sans-serif !important
  font-size: 13px !important
  color: #84878E !important
  text-decoration: underline !important
  line-height:36px
}
.h-b3-signup{
  font-family: Lato, sans-serif !important
  font-size: 13px !important
}
.color-primary{
  color: $font-color !important
}
.color-secondary{
  color: $body !important
}
