.h-h1-signup{
  font-family: Lato, sans-serif !important
  font-size: 54px
  line-height:64px
}
.h-h1-signup-mobile{
  font-family: Lato, sans-serif !important
  font-size: 44px
  line-height: 50px
  color: #3E3B46 !important
}
.h-b1-signup{
  font-family: Source Sans Pro, sans-serif !important
  font-size: 15px !important
  line-height:29px
}
.h-b2-signup{
  font-family: Lato, sans-serif !important
  font-size: 15px !important
  line-height:29px
}
.upload-pic{
  font-family: Lato, sans-serif !important
  font-size: 13px !important
  color: #84878E !important
  text-decoration: underline !important
  line-height:36px
}
.h-b3-signup{
  font-family: Lato, sans-serif !important
  font-size: 13px !important
}
.color-primary{
  color: $font-color !important
}
.color-secondary{
  color: $body !important
}
