name: Build and Deploy to Staging

on:
  push:
    branches: [ develop ]

jobs:
  build:
    name: build-dev
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - run: yarn global add @vue/cli@latest
      - run: yarn install
      - run: mv src/statics/chain-manifests-dev.json src/statics/chain-manifests.json
      - run: mv src/statics/app-manifest-dev.json src/statics/app-manifest.json
      - run: yarn build
        env:
          APP_NAME: '"Hypha DHO - Test"'
          NETWORK_CHAIN_ID: '"1eaa0824707c8c16bd25145493bf062aecddfeb56c736f6ba6397f3195f33c9f"'
          NETWORK_HOST: '"testnet.telos.caleos.io"'
          NETWORK_PROTOCOL: '"https"'
          NETWORK_PORT: '443'
          DAO_CONTRACT: '"dao.hypha"'
          ACCOUNT_API_URL: '"https://dev.api.telosapi.com"'
          ACCOUNT_API_KEY: ${{ secrets.DEV_ACCOUNT_API_KEY }} 
          BLOCKCHAIN_EXPLORER: '"https://telos-test.bloks.io"'
          PPP_ENV: '"test"'
          SENTRY_DSN: '""'
          DOCUMENTATION: '"https://notepad.diglife.coop/6w_69K_8QLSbzNaYcDWtHw?view "'


      - name: S3 sync
        uses: jakejarvis/s3-sync-action@master
        with:
          args: --acl public-read --follow-symlinks --delete
        env:
          AWS_S3_BUCKET: ${{ secrets.DEV_AWS_S3_BUCKET }}
          AWS_ACCESS_KEY_ID: ${{ secrets.DEV_AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.DEV_AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: 'us-east-1'   # optional: defaults to us-east-1
          SOURCE_DIR: 'dist/spa'      # optional: defaults to entire repository
        
      # Invalidate Cloudfront (this action)
      - name: invalidate
        uses: chetan/invalidate-cloudfront-action@master
        env:
          DISTRIBUTION: ${{ secrets.DEV_DISTRIBUTION_ID }}
          PATHS: '/.'
          AWS_REGION: 'us-east-1'
          AWS_ACCESS_KEY_ID: ${{ secrets.DEV_AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.DEV_AWS_SECRET_ACCESS_KEY }}

      # - name: S3 Sync and Invalidate Cloudfront Distribution 
      #   uses: digital-scarcity/s3-sync-action@master
      #   with:
      #     args: --acl public-read --follow-symlinks
      #   env:
      #     AWS_S3_BUCKET: ${{ secrets.DEV_AWS_S3_BUCKET }}
      #     AWS_ACCESS_KEY_ID: ${{ secrets.DEV_AWS_ACCESS_KEY_ID }}
      #     AWS_SECRET_ACCESS_KEY: ${{ secrets.DEV_AWS_SECRET_ACCESS_KEY }}
      #     # AWS_REGION: 'us-east-1'   # optional: defaults to us-east-1
      #     SOURCE_DIR: 'dist/spa'      # optional: defaults to entire repository
      #     AWS_DISTRIBUTION_ID: ${{ secrets.DEV_DISTRIBUTION_ID }}  
