name: Build and Deploy to Staging

on:
  push:
    branches: [ master ]

jobs:
  build:
    name: build-staging
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '16.x'
      - run: yarn global add @vue/cli@latest
      - run: yarn install
      - run: mv public/chain-manifests-prod.json public/chain-manifests.json
      - run: mv public/app-manifest-prod.json public/app-manifest.json
      - run: yarn build
        env:
          APP_NAME: 'Hypha DHO Staging'
          NETWORK_CHAIN_ID: '4667b205c6838ef70ff7988f6e8257e8be0e1284a2f59699054a018f743b1d11'
          DAO_CONTRACT: 'dao.hypha'
          HYPHA_CONTRACT: 'hypha.hypha'
          KV_CONTRACT: 'kv.hypha'
          DECIDE_CONTRACT: 'trailservice'
          SEEDS_TOKEN_CONTRACT: 'token.seeds'
          SEEDS_ESCROW_CONTRACT: 'escrow.seeds'
          HVOICE_TOKEN_CONTRACT: 'voice.hypha'
          ACCOUNT_API_URL: 'https://tb3nnn0qa9.execute-api.us-east-1.amazonaws.com/prod'
          ACCOUNT_API_KEY: ${{ secrets.PROD_ACCOUNT_API_KEY }}
          BLOCKCHAIN_EXPLORER: 'https://telos.bloks.io'
          BLOCKCHAIN_EXPLORER_BTC: 'https://www.blockchain.com/btc/tx/'
          BLOCKCHAIN_EXPLORER_ETH: 'https://etherscan.io/tx/'
          BLOCKCHAIN_EXPLORER_EOS: 'https://bloks.io/transaction/'
          PPP_ENV: 'prod'
          SENTRY_DSN: 'https://6fa219bfb2ed453fb5032d6ce1b83fc9@sentry.io/1884471'
          DOCUMENTATION: 'https://notepad.hypha.earth/5dC66nNXRVGpb1aTHaRJXw'
          DGRAPH_URL: 'https://alpha.tekit.io'
          DGRAPH_ROOT_HASH: '52a7ff82bd6f53b31285e97d6806d886eefb650e79754784e9d923d3df347c91'
          BLOCKCHAIN_ENDPOINTS: 'https://mainnet.telos.net'
          TLOSTO_SEEDS: 'tlosto.seeds'
          SUPPLY_CONTRACT: 'voice.hypha'
          GRAPHQL_URI: 'https://alpha-dhomn.tekit.io/graphql'
          ELASTIC_SEARCH_URL: 'https://hypha.es.eu-west-1.aws.found.io:9243/dho-mainnet-documents/_search'
          ELASTIC_SEARCH_API_KEY: ${{ secrets.PROD_ELASTIC_SEARCH_API_KEY }}
          IPFS_URL: 'ipfs.infura.io'
          IPFS_PROJECT_ID: '2F5pWHIOMgHji1DeqUT0mGpvySz'
          IPFS_PROJECT_SECRET: ${{ secrets.IPFS_PROJECT_SECRET }}
          IPFS_GATEWAY: 'https://hypha.infura-ipfs.io/ipfs/'
          MULTISIG_CONTRACT: 'msigdhohypha'
          HYPHA_TOKEN_SALES_ENCODE_KEY: ${{ secrets.HYPHA_TOKEN_SALES_ENCODE_KEY }}
          HYPHA_TOKEN_SALES_URL: 'https://tokensale.hypha.earth'
          HYPHA_TOKEN_SALES_API_URL: 'http://api-tokensale.hypha.earth'
          HYPHA_TOKEN_SALES_RPC_URL: 'https://telos.greymass.com'
          ROOT_DAO_ID: ${{vars.ROOT_DAO_ID}}
          ROOT_DAO_SLUG: ${{vars.ROOT_DAO_SLUG}}
          HEALTH_ENDPOINT: ${{ vars.HEALTH_ENDPOINT }}

      - name: S3 sync
        uses: jakejarvis/s3-sync-action@master
        with:
          args: --follow-symlinks --delete
        env:
          AWS_S3_BUCKET: ${{ secrets.STAGING_AWS_S3_BUCKET }}
          AWS_ACCESS_KEY_ID: ${{ secrets.STAGING_AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.STAGING_AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: 'us-east-1'   # optional: defaults to us-east-1
          SOURCE_DIR: 'dist/spa'      # optional: defaults to entire repository

      # Invalidate Cloudfront (this action)
      - name: invalidate
        uses: chetan/invalidate-cloudfront-action@master
        env:
          DISTRIBUTION: ${{ secrets.STAGING_DISTRIBUTION_ID }}
          PATHS: '/*'
          AWS_REGION: 'us-east-1'
          AWS_ACCESS_KEY_ID: ${{ secrets.STAGING_AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.STAGING_AWS_SECRET_ACCESS_KEY }}


      # - name: S3 Sync and Invalidate Cloudfront Distribution
      #   uses: digital-scarcity/s3-sync-action@master
      #   with:
      #     args: --acl public-read --follow-symlinks
      #   env:
      #     AWS_S3_BUCKET: ${{ secrets.PROD_AWS_S3_BUCKET }}
      #     AWS_ACCESS_KEY_ID: ${{ secrets.PROD_AWS_ACCESS_KEY_ID }}
      #     AWS_SECRET_ACCESS_KEY: ${{ secrets.PROD_AWS_SECRET_ACCESS_KEY }}
      #     AWS_REGION: 'us-east-1'   # optional: defaults to us-east-1
      #     SOURCE_DIR: 'dist/spa'      # optional: defaults to entire repository
      #     AWS_DISTRIBUTION_ID: ${{ secrets.PROD_DISTRIBUTION_ID }}
