name: Build and Deploy to Production

on:
  push:
    branches: [ master ]

jobs:
  build:
    name: build-prod
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - run: yarn global add @vue/cli@latest
      - run: yarn install
      - run: mv src/statics/chain-manifests-prod.json src/statics/chain-manifests.json
      - run: mv src/statics/app-manifest-prod.json src/statics/app-manifest.json
      - run: yarn build
        env:
          APP_NAME: '"Hypha DHO"'
          NETWORK_CHAIN_ID: '"4667b205c6838ef70ff7988f6e8257e8be0e1284a2f59699054a018f743b1d11"'
          NETWORK_HOST: '"telos.caleos.io"'
          NETWORK_PROTOCOL: '"https"'
          NETWORK_PORT: '443'
          DAO_CONTRACT: '"dao.hypha"'
#           ACCOUNT_API_URL: '"https://tb3nnn0qa9.execute-api.us-east-1.amazonaws.com/prod"'
          ACCOUNT_API_URL: '"https://api.telosapi.com"'
          ACCOUNT_API_KEY: ${{ secrets.PROD_ACCOUNT_API_KEY }}
          BLOCKCHAIN_EXPLORER: '"https://telos.bloks.io"'
          BLOCKCHAIN_EXPLORER_BTC: '"https://www.blockchain.com/btc/tx/"'
          BLOCKCHAIN_EXPLORER_ETH: '"https://etherscan.io/tx/"'
          BLOCKCHAIN_EXPLORER_EOS: '"https://bloks.io/transaction/"'
          PPP_ENV: '"prod"'
          SENTRY_DSN: '"https://6fa219bfb2ed453fb5032d6ce1b83fc9@sentry.io/1884471"'
          DOCUMENTATION: '"https://notepad.hypha.earth/5dC66nNXRVGpb1aTHaRJXw"'

      - name: S3 sync
        uses: jakejarvis/s3-sync-action@master
        with:
          args: --acl public-read --follow-symlinks --delete
        env:
          AWS_S3_BUCKET: ${{ secrets.PROD_AWS_S3_BUCKET }}
          AWS_ACCESS_KEY_ID: ${{ secrets.PROD_AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.PROD_AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: 'us-east-1'   # optional: defaults to us-east-1
          SOURCE_DIR: 'dist/pwa'      # optional: defaults to entire repository

      # Invalidate Cloudfront (this action)
      - name: invalidate
        uses: chetan/invalidate-cloudfront-action@master
        env:
          DISTRIBUTION: ${{ secrets.PROD_DISTRIBUTION_ID }}
          PATHS: '/*'
          AWS_REGION: 'us-east-1'
          AWS_ACCESS_KEY_ID: ${{ secrets.PROD_AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.PROD_AWS_SECRET_ACCESS_KEY }}


      # - name: S3 Sync and Invalidate Cloudfront Distribution
      #   uses: digital-scarcity/s3-sync-action@master
      #   with:
      #     args: --acl public-read --follow-symlinks
      #   env:
      #     AWS_S3_BUCKET: ${{ secrets.PROD_AWS_S3_BUCKET }}
      #     AWS_ACCESS_KEY_ID: ${{ secrets.PROD_AWS_ACCESS_KEY_ID }}
      #     AWS_SECRET_ACCESS_KEY: ${{ secrets.PROD_AWS_SECRET_ACCESS_KEY }}
      #     AWS_REGION: 'us-east-1'   # optional: defaults to us-east-1
      #     SOURCE_DIR: 'dist/spa'      # optional: defaults to entire repository
      #     AWS_DISTRIBUTION_ID: ${{ secrets.PROD_DISTRIBUTION_ID }}
